<h1>Kittens#show</h1>

<b>Name:</b> <%= @kitten.name %>
<b>Age:</b> <%= @kitten.age %>
<b>Cuteness:</b> <%= @kitten.cuteness %>
<b>Softness:</b> <%= @kitten.softness %>

<%= link_to 'Edit', edit_kitten_path(@kitten) %>
<%= button_to 'Delete', @kitten, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
